.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 30px;
}

.loader {
    width: 100%;
    min-height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media (max-width: 800px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}